
button {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    /* user-select: none; // allows for tabbing through buttons */
    /* border: none; */
    background-color: #2774AE;
    color: white;
    border-radius: 20px;
    font: inter;
    font-size: 17px;
    margin: 25px;
    /* width: 15%;
    height: 40%; */
    width: 130px;
    height: 40px;
}

