nav {
    //margin-top: 5px;
    width: 100%;
    height: 60px;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: white;
    text-decoration: none;

    
    position: fixed;
    top: 0;
    z-index: 100;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   
    a { //general css class for Links
      color: black;
      
    }
  
    a.home {
      color: #2774AE;
      background-color: white;
      font-weight: bold;
      font-size: smaller;
      margin-right: 10px;
      margin-left: 5px;
      text-decoration: none;
      margin-bottom: 10px;
    }
  
    a.logo {
      display: flex;
      width: 40px;
      height: 40px;
      margin-right: 0px;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  
    .profile {
      width: 40px;
      margin-right: 10px;
      margin-top: 5px;
    }
    .user_logged_in_container {
      // border-style: solid;
      // border-color: red;
      height: 60px;
      display: flex;
      margin-left: -20px;
      .user {
        width: 40px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 50%;
        overflow: hidden;
      }
      .logout_button {
        // border-style: solid;
        // border-color: blue;
        margin-top: 15px;
      }
    }
    
  }