input {
    border-radius: 15px;
    border: solid transparent;
    height: 30px;
    // width: 500px;
    width: 225px;
    // margin-right: 40px;
    // margin-left: 40px;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 20px;
    background-color: rgb(203, 200, 200);
}
