.home {
    padding-top: 80px;
    background-color: #ECECEC;
}

.hero {
    display: flex;
    width: 1065px;
    margin: auto;
    border-radius: 15px;

    background-image: linear-gradient(100deg, #005587, rgba(139, 184, 232, .41));
    .image-container {
        // border-style: solid;
        // border-color: red;

        position: relative;
        padding-left: 100px;
        width: 25%;
        margin: auto;
    }
    .text-container {
        position: relative;
        // border-style: solid;
        // border-color: green;
        width: 60%;
        margin: auto;
        
        .hero-text {
            color: white;
        }
        .hero-content {
            color: white;
            width: 75%;
        }
    }
}

.listing-container {
    // border-style: solid;
    
    display: flex;
    height: 1000px;
    width: 1065px;
    margin: auto;
    padding-top: 10px;

    .filter-container {
        // border-style: solid;
        // border-color: red;

        border-radius: 15px;

        height: 567px;
        width: 30%;      

        background-color: #fcfcfc;

        text-align: center;
    }
    .bathroom-listings {
        // border-style: solid;
        // border-color: blue;
        
        width: 67.5%;
        margin-right: 0;
        margin-left: auto;

        text-align: center;
    }
}