body {
    background-color: #ECECEC;
}

.home {
    padding-top: 10px;
    background-color: #ECECEC;
}

.hero {
    display: flex;
    width: 1065px;
    height: 322px;
    margin: auto;
    border-radius: 15px;

    background-image: linear-gradient(100deg, #005587, rgba(139, 184, 232, .41));
    .image-container {
        // border-style: solid;
        // border-color: red;

        position: relative;
        padding-left: 100px;
        width: 25%;
        margin: auto;
        img {
            width: 80%;
        }
    }
    .text-container {
        position: relative;
        // border-style: solid;
        // border-color: green;
        width: 60%;
        margin: auto;
        
        .hero-text {
            color: white;
        }
        .hero-content {
            // border-style: solid;
            // border-color: blue;
            color: white;
            width: 75%;
            font-size: 18px;
            line-height: 100%;
        }
    }
}

.listing-container {
    // border-style: solid;
    
    display: flex;
    height: 1000px;
    width: 1065px;
    margin: auto;
    padding-top: 10px;

    .filter-container {
        // border-style: solid;
        // border-color: red;
        position: sticky;
        top: 75px;
        margin-top: 15px;
        padding-top: 20px;
        border-radius: 15px;

        height: 450px;
        width: 30%;      

        background-color: #fcfcfc;

        text-align: center;
        .filter-component {
            // border-style: solid;
            // border-color: red;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 10px;
        }
        .filter-title {
            // border-style: solid;
            // border-color: blue;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: bold;
            text-align: left;
            padding-left: 10px;
            font-size: 18px;
        }
        .gender-list {
            // border-style: solid;
            // border-color: green;
            height: 150px;
            .checkbox-component {
                // border-style: solid;
                // border-color: green;
                display: flex;
                margin-bottom: 10px;
                input {
                    width: 20px;
                    margin-left: 20px;
                }
                label {
                    // border-style: solid;
                    // border-color: green;
                    display: block;
                    text-align: left;
                    margin-top: 10px;
                    margin-left: -15px;
                }
            }
        }
        .dropdown {
            height: 25px;
            width: 94%;
            border-radius: 8px;
            color: #6D6D6D;
            margin-bottom: 20px;
        }
        .slider {
            // input {
            //     padding: 0px;
            //     margin: auto;
            //     width: 82%;
            // }
            .horizontal-slider {
                // border-style: solid;
                margin: auto;
                width: 87%;
                height: 20px;
                .example-track{
                    top: 5px;
                    height: 10px;
                    border-radius: 20px;
                }
                .example-track-0 {
                    background: #ADADAD;
                }
                .example-track-1 {
                    background: #0578eb;
                }
                .example-track-2 {
                    margin-left: 15px;
                    background: #ADADAD;
                }
                .example-thumb-0 {
                    top: 1px;
                    // margin-left: -5px;
                    width: 15px;
                    height: 15px;
                    background: #ffffff;
                    border: 5px solid #0578eb;
                    border-width: 3px;
                    border-radius: 100px;
                    font-size: 0px;
                }
                .example-thumb-1 {
                    top: 1px;
                    // margin-left: 8px;
                    width: 15px;
                    height: 15px;
                    background: #ffffff;
                    border: 5px solid #0578eb;
                    border-width: 3px;
                    border-radius: 100px;
                    font-size: 0px;
                }
            }

            
            .selectValue {
                // border-style: solid;
                // border-color: green;
                margin: auto;
                display: table;
                width: 100%;
                table-layout: fixed;
                margin-top: 0px;
                .selectValueNumber {
                    // border-style: solid;
                    // border-color: green;
                    display: table-cell;
                    text-align: center;
                    color: #6D6D6D;
                }
            }
        }
    }
    .bathroom-listings {
        // border-style: solid;
        // border-color: blue;
        
        width: 67.5%;
        margin-right: 0;
        margin-left: auto;

        text-align: center;
    }
}