/*////////////////////////////////////////////////////////////
PLEASE DONT PUT STUFF HERE

NOTHING IS USED HERE
NOTHING IS USED HERE

PLEASE DONT PUT STUFF HERE
////////////////////////////////////////////////////////////*/

.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/* a {
  color: blue;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
} */