body {
  margin-top: 80px;
}

.buildingimage {
  width:auto;
  text-align:center;
  
  img {
    width: 2000px;
    height: 500px;
    object-fit: cover;

    filter: brightness(70%);
  }

  .name {
    position: absolute;
    top: 100px;
    left: 460px;
  
    color: white;
    font-size: 50px;
    font-weight: 700;
  }

  .number {
    position: absolute;
    top: 170px;
    left: 460px;
  
    color: rgb(200, 200, 200);
    font-size: 50px;
    font-weight: 700;
  }
}

// .number {
//   margin-top: 50px;
// }