p {
  white-space: pre;
}

body {
  margin-top: 80px;
  padding-bottom: 80px;
}

.buildingimage {
  width:auto;
  text-align:center;
  
  .banner {
    max-width: 100%;
    width: 1700px;
    height: 500px;
    object-fit: cover;

    filter: brightness(70%);
  }

  .name {
    position: absolute;
    top: 100px;
    left: 350px;
  
    color: white;
    font-size: 50px;
    font-weight: 700;
  }

  .number {
    position: absolute;
    top: 170px;
<<<<<<< Updated upstream
    left: 350px;
=======
    left: 245px;
>>>>>>> Stashed changes
  
    color: rgb(200, 200, 200);
    font-size: 50px;
    font-weight: 700;
  }

  .gender-box {
    // border-style: solid;
    // border-color: red;
    position: absolute;
    height: 50px;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    top: 300px;
<<<<<<< Updated upstream
    left: 350px;
    width: 20px;
    height:auto;
    object-fit: contain;
  }

=======
    left: 245px;

    .gender {
      // border-style: solid;
      // border-color: red;
      position: relative;


      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }


  // .gender {
  //   position: absolute;
  //   top: 300px;
  //   left: 250px;
  //   width: 20px;
  //   height:auto;
  //   object-fit: contain;
  // }

  .add-review-button {
    // border: 5px solid red;
    position: absolute;
    height: 30px;
    width: 130px;
    top: 375px;
    left: 225px;
  }

>>>>>>> Stashed changes
  .overall {
    position: absolute;
    align-content: space-evenly;
    top: 120px;
    left: 1050px;
    width: 315px;
    height: 40px;
    background-color: #D9D9D9;
    opacity: 0.8;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
    color: #2774AE;
    font-size: 30px;
    font-weight: 600;

  }

  .whitebox {
    position: absolute;

    top: 210px;
    left: 1050px;
    width: 315px;
    height: 300px;
    background-color: #eae9e9;
    opacity: 0.8;

    border-radius: 0 0 10px 10px;
  }

  .cleanliness {
    position: absolute;
    align-content: space-evenly;
    top: 200px;
    left: 1065px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .comfort {
    position: absolute;
    align-content: space-evenly;
    top: 260px;
    left: 1065px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .convenience {
    position: absolute;
    align-content: space-evenly;
    top: 320px;
    left: 1065px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .ameneties {
    position: absolute;
    align-content: space-evenly;
    top: 380px;
    left: 1065px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}


.bathroompage-row {
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 350px;
  margin-bottom: 120px;
  background-color: #fcfcfc;
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  
  .bathroom-page-row-profile {
    .image-container {
      position: relative;
      display: flex;

      aspect-ratio: 1/1;
      width: 80%;
  
      margin-left: 18px;
  
      justify-content: center;
      img {
        border-radius: 15px;
        width: 70%;
        height: 70%;
        object-fit: cover;
      }
    }

    .review_name {
      position: relative;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      .Name {
        font-size: 15px;
        font-weight: 700;
        margin-top: -40px;
        
      }
      .Rated {
        margin-top: 10px;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    .poops {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -10px;
      width: 100px;
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

  }
  
  .bathroom-page-row-review {
    border-radius: 15px;
    margin-left: 250px;
    margin-top: -190px;
    background-color: #fcfcfc;
    max-width: 760px;
    min-height: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 760px;
    height: auto;

    .text {

      .scores {
        padding-bottom: 10px;
      }
    }
  }
  
}
