body{
    font-family: 'Inter';
    padding: 5px;
}
h2{
    padding-left: 10px;
}
p{
    padding-left: 10px;
}

.background-box-review{
    position: absolute;
    width: 1068px;
    height: 3000px;
    border-bottom: 30px;
    left: 186px;
    top: 244px;

    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.buildingDropdown{
    padding: 10px;
    position: absolute;
    width: 675px;
    height: 42px;
    left: 120px;
    top: -50px;

    border: 1px solid #D9D9D9;
    border-radius: 15px;
}
.roomNumDropdown{
    padding: 10px;
    position: absolute;
    width: 184px;
    height: 42px;
    left: 120px;
    top: 120px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}
.genderDropdown{
    padding: 10px;
    position: absolute;
    width: 200px;
    height: 42px;
    left: 590px;
    top: 120px;   
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.bathroom-attributes-1{
    position: absolute;
    width: 1068px;
    height: 454px;
    left: 186px;
    top: 244px;
    color:blue($color: #94b8633b)
}

.comment{
    box-sizing: border-box;

position: absolute;
width: 988px;
height: 361px;
left: 226px;
top: 468px;

background: #FFFFFF;
border: 2px solid #8BB8E8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding-bottom: 20px;
}

.next {
    position: absolute;
    left: 51.6%;
    right: 41.47%;
    top: 87.44%;
    bottom: 9.57%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}